<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-position-requirement-heading"
        data-cy="PositionRequirementCreateUpdateHeading"
        jhiTranslate="rosterv2App.positionRequirement.home.createOrEditLabel"
      >
        Create or edit a Position Requirement
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="rosterv2App.positionRequirement.mandatoty" for="field_mandatoty">Mandatoty</label>
          <input type="text" class="form-control" name="mandatoty" id="field_mandatoty" data-cy="mandatoty" formControlName="mandatoty" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="rosterv2App.positionRequirement.training" for="field_training">Training</label>
          <select
            class="form-control"
            id="field_training"
            data-cy="training"
            name="training"
            formControlName="training"
            [compareWith]="compareTraining"
          >
            <option [ngValue]="null"></option>
            @for (trainingOption of trainingsSharedCollection; track $index) {
              <option [ngValue]="trainingOption">{{ trainingOption.key }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="rosterv2App.positionRequirement.position" for="field_position">Position</label>
          <select
            class="form-control"
            id="field_position"
            data-cy="position"
            name="position"
            formControlName="position"
            [compareWith]="comparePosition"
          >
            <option [ngValue]="null"></option>
            @for (positionOption of positionsSharedCollection; track $index) {
              <option [ngValue]="positionOption">{{ positionOption.key }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
