<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-shift-template-heading"
        data-cy="ShiftTemplateCreateUpdateHeading"
        jhiTranslate="rosterv2App.shiftTemplate.home.createOrEditLabel"
      >
        Create or edit a Shift Template
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="rosterv2App.shiftTemplate.key" for="field_key">Key</label>
          <input type="number" class="form-control" name="key" id="field_key" data-cy="key" formControlName="key" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="rosterv2App.shiftTemplate.shiftStart" for="field_shiftStart">Shift Start</label>
          <div class="d-flex">
            <input
              id="field_shiftStart"
              data-cy="shiftStart"
              type="datetime-local"
              class="form-control"
              name="shiftStart"
              formControlName="shiftStart"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="rosterv2App.shiftTemplate.shiftEnd" for="field_shiftEnd">Shift End</label>
          <div class="d-flex">
            <input
              id="field_shiftEnd"
              data-cy="shiftEnd"
              type="datetime-local"
              class="form-control"
              name="shiftEnd"
              formControlName="shiftEnd"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="rosterv2App.shiftTemplate.type" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
