<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-resource-training-heading"
        data-cy="ResourceTrainingCreateUpdateHeading"
        jhiTranslate="rosterv2App.resourceTraining.home.createOrEditLabel"
      >
        Create or edit a Resource Training
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="rosterv2App.resourceTraining.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="rosterv2App.resourceTraining.level" for="field_level">Level</label>
          <input type="text" class="form-control" name="level" id="field_level" data-cy="level" formControlName="level" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="rosterv2App.resourceTraining.trainer" for="field_trainer">Trainer</label>
          <input type="text" class="form-control" name="trainer" id="field_trainer" data-cy="trainer" formControlName="trainer" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="rosterv2App.resourceTraining.activeFrom" for="field_activeFrom">Active From</label>
          <div class="d-flex">
            <input
              id="field_activeFrom"
              data-cy="activeFrom"
              type="datetime-local"
              class="form-control"
              name="activeFrom"
              formControlName="activeFrom"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="rosterv2App.resourceTraining.activeto" for="field_activeto">Activeto</label>
          <div class="d-flex">
            <input
              id="field_activeto"
              data-cy="activeto"
              type="datetime-local"
              class="form-control"
              name="activeto"
              formControlName="activeto"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="rosterv2App.resourceTraining.resource" for="field_resource">Resource</label>
          <select
            class="form-control"
            id="field_resource"
            data-cy="resource"
            name="resource"
            formControlName="resource"
            [compareWith]="compareResource"
          >
            <option [ngValue]="null"></option>
            @for (resourceOption of resourcesSharedCollection; track $index) {
              <option [ngValue]="resourceOption">{{ resourceOption.key }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="rosterv2App.resourceTraining.training" for="field_training">Training</label>
          <select
            class="form-control"
            id="field_training"
            data-cy="training"
            name="training"
            formControlName="training"
            [compareWith]="compareTraining"
          >
            <option [ngValue]="null"></option>
            @for (trainingOption of trainingsSharedCollection; track $index) {
              <option [ngValue]="trainingOption">{{ trainingOption.key }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
