<div>
  <h2 id="page-heading" data-cy="ResourceHeading">
    <span jhiTranslate="rosterv2App.resource.home.title">Resources</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="rosterv2App.resource.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-resource"
        [routerLink]="['/resource/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rosterv2App.resource.home.createLabel">Create a new Resource</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (resources?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="rosterv2App.resource.home.notFound">No Resources found</span>
    </div>
  }

  @if (resources && resources.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="key">
              <div class="d-flex">
                <span jhiTranslate="rosterv2App.resource.key">Key</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="firstName">
              <div class="d-flex">
                <span jhiTranslate="rosterv2App.resource.firstName">First Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastName">
              <div class="d-flex">
                <span jhiTranslate="rosterv2App.resource.lastName">Last Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="teamRole">
              <div class="d-flex">
                <span jhiTranslate="rosterv2App.resource.teamRole">Team Role</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="exchangeAllowed">
              <div class="d-flex">
                <span jhiTranslate="rosterv2App.resource.exchangeAllowed">Exchange Allowed</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="team.key">
              <div class="d-flex">
                <span jhiTranslate="rosterv2App.resource.team">Team</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (resource of resources; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/resource', resource.id, 'view']">{{ resource.id }}</a>
              </td>
              <td>{{ resource.key }}</td>
              <td>{{ resource.firstName }}</td>
              <td>{{ resource.lastName }}</td>
              <td>{{ resource.teamRole }}</td>
              <td>{{ resource.exchangeAllowed }}</td>
              <td>
                @if (resource.team) {
                  <div>
                    <a [routerLink]="['/team', resource.team.id, 'view']">{{ resource.team.key }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/resource', resource.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/resource', resource.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(resource)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
