<div>
  <h2 id="page-heading" data-cy="TeamPlanHeading">
    <span jhiTranslate="rosterv2App.teamPlan.home.title">Team Plans</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="rosterv2App.teamPlan.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-team-plan"
        [routerLink]="['/team-plan/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rosterv2App.teamPlan.home.createLabel">Create a new Team Plan</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (teamPlans?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="rosterv2App.teamPlan.home.notFound">No Team Plans found</span>
    </div>
  }

  @if (teamPlans && teamPlans.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="team.key">
              <div class="d-flex">
                <span jhiTranslate="rosterv2App.teamPlan.team">Team</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="shift.key">
              <div class="d-flex">
                <span jhiTranslate="rosterv2App.teamPlan.shift">Shift</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (teamPlan of teamPlans; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/team-plan', teamPlan.id, 'view']">{{ teamPlan.id }}</a>
              </td>
              <td>
                @if (teamPlan.team) {
                  <div>
                    <a [routerLink]="['/team', teamPlan.team.id, 'view']">{{ teamPlan.team.key }}</a>
                  </div>
                }
              </td>
              <td>
                @if (teamPlan.shift) {
                  <div>
                    <a [routerLink]="['/shift', teamPlan.shift.id, 'view']">{{ teamPlan.shift.key }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/team-plan', teamPlan.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/team-plan', teamPlan.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(teamPlan)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
