<div>
  <h2 id="page-heading" data-cy="PositionRequirementHeading">
    <span jhiTranslate="rosterv2App.positionRequirement.home.title">Position Requirements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="rosterv2App.positionRequirement.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-position-requirement"
        [routerLink]="['/position-requirement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rosterv2App.positionRequirement.home.createLabel">Create a new Position Requirement</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (positionRequirements?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="rosterv2App.positionRequirement.home.notFound">No Position Requirements found</span>
    </div>
  }

  @if (positionRequirements && positionRequirements.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mandatoty">
              <div class="d-flex">
                <span jhiTranslate="rosterv2App.positionRequirement.mandatoty">Mandatoty</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="training.key">
              <div class="d-flex">
                <span jhiTranslate="rosterv2App.positionRequirement.training">Training</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="position.key">
              <div class="d-flex">
                <span jhiTranslate="rosterv2App.positionRequirement.position">Position</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (positionRequirement of positionRequirements; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/position-requirement', positionRequirement.id, 'view']">{{ positionRequirement.id }}</a>
              </td>
              <td>{{ positionRequirement.mandatoty }}</td>
              <td>
                @if (positionRequirement.training) {
                  <div>
                    <a [routerLink]="['/training', positionRequirement.training.id, 'view']">{{ positionRequirement.training.key }}</a>
                  </div>
                }
              </td>
              <td>
                @if (positionRequirement.position) {
                  <div>
                    <a [routerLink]="['/position', positionRequirement.position.id, 'view']">{{ positionRequirement.position.key }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/position-requirement', positionRequirement.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/position-requirement', positionRequirement.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(positionRequirement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
