<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (shift) {
      <div>
        <h2 data-cy="shiftDetailsHeading"><span jhiTranslate="rosterv2App.shift.detail.title">Shift</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ shift.id }}</span>
          </dd>
          <dt><span jhiTranslate="rosterv2App.shift.key">Key</span></dt>
          <dd>
            <span>{{ shift.key }}</span>
          </dd>
          <dt><span jhiTranslate="rosterv2App.shift.shiftStart">Shift Start</span></dt>
          <dd>
            <span>{{ shift.shiftStart | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="rosterv2App.shift.shiftEnd">Shift End</span></dt>
          <dd>
            <span>{{ shift.shiftEnd | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="rosterv2App.shift.type">Type</span></dt>
          <dd>
            <span>{{ shift.type }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/shift', shift.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
